<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <include file="$(find rplidar_ros)/launch/gmapping_test1.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
  <!-- args="-d $(find rplidar_ros)/rviz/rplidar.rviz" -->
</launch>
